{
  "root": true,
  "extends": ["@react-native-community", "plugin:react-hooks/recommended"],
  "rules": {
    "curly": "off",
    "no-unused-vars": ["error"],
    "semi": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-native/no-inline-styles": "off"
  }
}
